body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: linear-gradient(90deg, rgba(0,159,255,.7) 10%, rgba(0,94,255,.7) 56%, rgba(0,44,255,.7) 92%);
}

#page-body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-bar {
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 25px;
    align-items: normal;
    transition: all .2s ease-in-out;
}

#nav-bar:hover {
    background-color: rgba(255, 255, 255, .85);
    transform:scale(1.001);
    transition: all .2s ease-in-out;
}

#content {
    margin-left: 5vw;
    margin-right: 8vw;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 25px;
    margin-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 30vw;
}

.list-item {
    margin-bottom: 5px;
}

.logo {
    width: 100px;
    height: 110px;
    object-fit: cover;
    margin-left: 20px;
    margin-bottom: -5px;
    margin-top: 5px
}

.logo:hover {
    opacity: 0.5;
}

.helpful-diagram {
    width: 40vw;
    height: 50vh;
}

.unset-a {
    all: unset;
}

.unset-a:hover {
    cursor: pointer;
}

.option-container {
    margin-top: 45px;
}

.option-text {
    margin-left: 5vw;
    font-size: 20px;  
    padding-top: 20px;
    padding-bottom: 20px;

}

.option-text:hover {
    opacity: 0.5;
}