body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: linear-gradient(90deg, rgba(0,159,255,1) 10%, rgba(0,94,255,1) 56%, rgba(0,44,255,1) 92%);
    color: white;
    overflow: hidden;
}

#nav-bar {
    display: flex;
    margin-top: .2vh;
    margin-left: 5vw;
}

.logo {
    width: 150px;
    height: 120px;
    filter: brightness(100);
}

.logo:hover {
    opacity: 0.5;
}

.unset-a {
    all: unset;
}

.unset-a:hover {
    cursor: pointer;
}

.option-container {
    margin-top: 45px;
}

.option-text {
    margin-left: 5vw;
    font-size: 20px;
}

.option-text:hover {
    opacity: 0.5;
}

#content-container {
    display: flex;
    flex-direction: row;
}

#copy-container {
    margin-top: 8vh;
    margin-left: 8vw;
    width: 55vw;
    height: 30vh;
}

#animation-container {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 9vh;
    margin-left: -30vw;
    color: yellow;
}

.title-text {
    font-size: 65px;
    font-weight: 500;
}

.caption-container {
    margin-top: -2vh;
    width: 38vw;
}

.caption-text {
    font-size: 20px;
    color: rgb(243, 243, 243);
    line-height: 1.3;
}

.random-characters {
    max-width: 300px; /* or whatever maximum width you prefer */
    font-family: monospace;
    line-height: 1.2;
    letter-spacing: 2px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
}