body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    flex-direction: column;
}


.row {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-bottom: 20vh;
}

.member {
    margin: 3vw;
    background-color: rgb(186, 186, 186);
    width: 35%;
    height: 10vh;
    border-radius: 30px;
    padding: 30px;
    transition: all .3s ease-in-out;
    filter: drop-shadow(4px 5px 3px rgb(55, 54, 54));
}

.member:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(200, 200, 200);
    filter: drop-shadow(0px 0px 0px white);
}

table {
    font-family: 'Lato', sans-serif; /* Apply the Lato font to the table */
}
th, td {
    font-family: 'Lato', sans-serif; /* Apply the Lato font to table headers and data cells */
}
#nav-bar {
    display: flex;
    margin-top: .2vh;
    margin-left: 5vw;
}

.logo {
    width: 150px;
    height: 120px;
}

.logo:hover {
    opacity: 0.5;
}

.unset-a {
    all: unset;
}

.unset-a:hover {
    cursor: pointer;
}

.option-container {
    margin-top: 5vh;
}

.option-text {
    margin-left: 5vw;
    font-size: 20px;
}

.option-text:hover {
    opacity: 0.5;
}