body {
    font-family: 'Lato', sans-serif;
    flex-direction: column;
}


#memberLeft {
      margin-left: 8vw;
      margin-right: 8vw; 
      width: 500px;
}
#memberRight {
      margin-left: 8vw;
      margin-right: 8vw;
      width: 500px;
}
table {
    font-family: 'Lato', sans-serif; /* Apply the Lato font to the table */
}
th, td {
    font-family: 'Lato', sans-serif; /* Apply the Lato font to table headers and data cells */
}
#nav-bar {
    display: flex;
    margin-top: .2vh;
    margin-left: 5vw;
}

.logo {
    width: 150px;
    height: 120px;
}

.logo:hover {
    opacity: 0.5;
}

.unset-a {
    all: unset;
}

.unset-a:hover {
    cursor: pointer;
}

.option-container {
    margin-top: 5vh;
}

.option-text {
    margin-left: 5vw;
    font-size: 20px;
}

.option-text:hover {
    opacity: 0.5;
}