body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 17px;
    background: rgb(200,230,201);
    background: linear-gradient(90deg, rgb(185, 255, 187) 10%, rgba(102,187,106,1) 92%);
}

#content-container {
    display: flex;
    justify-content: center;
}

#form-container {
    margin-top: 2.5vh;
    border-radius: 25px;
    width: fit-content;
    padding: 20px;
    background-color: rgba(255,255,255,1);
}

#google-form {
    width: 75vw;
    height: 75vh;
}

#nav-bar {
    display: flex;
    margin-top: .2vh;
    margin-left: 5vw;
}

.logo {
    width: 150px;
    height: 120px;
}

.logo:hover {
    opacity: 0.5;
}

.unset-a {
    all: unset;
}

.unset-a:hover {
    cursor: pointer;
}

.option-container {
    margin-top: 45px;
}

.option-text {
    margin-left: 5vw;
    font-size: 20px;
}

.option-text:hover {
    opacity: 0.5;
}