<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/darktheme.css')}}">
        <link rel="icon" href="https://i.ibb.co/VYvcfLm/IMG-0369.jpg" type="image/png">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div id="nav-bar">
            <a href="/" class="unset-a"><img class="logo" src="{{ url_for('static', filename='images/transparent_temp_logo.png') }}"></a>
            <div class="option-container">
                <a href="/about" class="unset-a option-text">About Us</a>
                <a href="/schedule" class="unset-a option-text">Schedule</a>
                <a href="/projects" class="unset-a option-text">Projects</a>
                <a href="/members" class="unset-a option-text">Members </a>
                <a href="/register" class="unset-a option-text">Sign Up</a>
            </div>
            <input type="checkbox" id="darkmode-toggle" onclick="darkmode()"/>
            <label for="darkmode-toggle">
        </div>

        <div id="page-body">
            <div id="content">
                <h1 id="page-title">About Us</h1>
                
                <div id="explanations">
                    <h2>Purpose:</h2>
                    <ul>
                        <li class="list-item">Inspires people to innovate and create through code</li>
                        <li class="list-item">Support each other in competing in hackathons and other coding competitions</li>
                    </ul>
                    <h2>Competitions:</h2>
                    <ul>
                        <li class="list-item">Compete in hackathons</li>
                        <li class="list-item">Develop a project and solve a problem over a short period of time</li>
                        <li class="list-item">Travel around the region and win prizes and merch</li>
                        <li class="list-item">Experience the exciting fast-paced atmosphere</li>
                    </ul>
                    <h2>Meetings and Structure:</h2>
                    <ul>
                        <li class="list-item">Several teams of 3-5 within club</li>
                        <li class="list-item">Occasional full club meetings to stay on track</li>
                        <li class="list-item">Individual teams determine their own schedules and projects</li>
                        <li class="list-item">Teams can collaborate to advance innovation and bring in new perspectives</li>
                    </ul>
                </div>
            </div>

            <img class="helpful-diagram" src="{{ url_for('static', filename='images/helpful-diagram.png') }}">
        </div>
        <script>        
            var original = window.getComputedStyle( document.body ,null).getPropertyValue('background');  
            textArr = document.getElementsByClassName("unset-a option-text")
            textArr = Array.prototype.slice.call(textArr);
            var logoOriginial = document.getElementsByClassName("logo")[0].style.filter
            var matrixInterval = null;
            if (document.getElementById('canv') == null){
                var foo = document.createElement("canvas");
                document.body.prepend(foo);
                foo.setAttribute("id","canv");
                foo.setAttribute("style", "display: none;")
            }
            function darkmode() {
                var check = document.getElementById("darkmode-toggle");
                const canvas = document.getElementById('canv');
                canvas.style.display = "none"
                if (check.checked) {
                    canvas.style.display = "block"
                    document.body.style.transition = "2s";
                    document.body.style.background = "black";
                    document.getElementsByClassName("logo")[0].style.filter = "brightness(100)"
                    textArr.forEach( function(element){
                        element.style.color = 'white'; 
                    });
                    if (matrixInterval == null){
                        matrixInterval = setInterval(matrix, 60);
                    }
                } else {
                    document.getElementsByClassName("logo")[0].style.filter = logoOriginial
                    document.body.style.background = original
                    textArr.forEach( function(element){
                        element.style.color = 'black'; 
                    });
                    clearInterval(matrixInterval)
                    matrixInterval = null
                }
            }
        </script>
        <script>
            const canvas = document.getElementById('canv');
            canvas.style.position = "absolute"
            canvas.style.zIndex = "-1"
            const ctx = canvas.getContext('2d');

            const w = canvas.width = window.screen.width;
            const h = canvas.height = window.screen.height;
            const cols = Math.floor(w / 20) + 1;
            const ypos = Array(cols).fill(0);

            ctx.fillStyle = '#000';
            ctx.fillRect(0, 0, w, h);

            function matrix () {
                ctx.fillStyle = '#0001';
                ctx.fillRect(0, 0, w, h);
                
                ctx.fillStyle = '#0f0';
                ctx.font = '10pt monospace';
                
                ypos.forEach((y, ind) => {
                    const text = String.fromCharCode(Math.random() * 128);
                    const x = ind * 20;
                    ctx.fillText(text, x, y);
                    if (y > 100 + Math.random() * 10000) ypos[ind] = 0;
                    else ypos[ind] = y + 20;
                });
            }
        </script>
    </body>
</html>