<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}">
        <link rel="icon" href="{{ url_for('static', filename='images/transparent_temp_logo.ico') }}" type="image/png">
    </head>
    <body>
        <div id="nav-bar">
            <a href="/" class="unset-a"><img class="logo" src="{{ url_for('static', filename='images/transparent_temp_logo.png') }}"></a>
            <div class="option-container">
                <a href="/about" class="unset-a option-text">About Us</a>
                <a href="/schedule" class="unset-a option-text">Schedule</a>
                <a href="/projects" class="unset-a option-text">Projects</a>
                <a href="/members" class="unset-a option-text">Members </a>
                <a href="/register" class="unset-a option-text">Sign Up</a>
            </div>
        </div>

        <div id="page-body">
            <div id="content">
                <h1 id="page-title">About Us</h1>
                
                <div id="explanations">
                    <h2>Purpose:</h2>
                    <ul>
                        <li class="list-item">Inspires people to innovate and create through code</li>
                        <li class="list-item">Support each other in competing in hackathons and other coding competitions</li>
                    </ul>
                    <h2>Competitions:</h2>
                    <ul>
                        <li class="list-item">Compete in hackathons</li>
                        <li class="list-item">Develop a project and solve a problem over a short period of time</li>
                        <li class="list-item">Travel around the region and win prizes and merch</li>
                        <li class="list-item">Experience the exciting fast-paced atmosphere</li>
                    </ul>
                    <h2>Meetings and Structure:</h2>
                    <ul>
                        <li class="list-item">Several teams of 3-5 within club</li>
                        <li class="list-item">Occasional full club meetings to stay on track</li>
                        <li class="list-item">Individual teams determine their own schedules and projects</li>
                        <li class="list-item">Teams can collaborate to advance innovation and bring in new perspectives</li>
                    </ul>
                </div>
            </div>

            <img class="helpful-diagram" src="{{ url_for('static', filename='images/helpful-diagram.png') }}">
        </div>
    </body>
</html>