<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/members.css')}}">
    </head>
    <body>
        <div id="nav-bar">
            <a href="/" class="unset-a"><img class="logo" src="{{ url_for('static', filename='images/transparent_temp_logo.png') }}"></a>
            <div class="option-container">
                <a href="/about" class="unset-a option-text">About Us</a>
                <a href="/schedule" class="unset-a option-text">Schedule</a>
                                <a href="/projects" class="unset-a option-text">Projects</a>

                <a href="/members" class="unset-a option-text">Members </a>
                <a href="/register" class="unset-a option-text">Sign Up</a>
            </div>
        </div>        
        <div class="row">
            
            <div class="member">
                <div class="top-row">
                    <p><b>Zain Javaid</b></p>
                    <div class="logo-section">
                        <a href="https://github.com/zainmfjavaid" target="_blank" style="all: unset;">
                            <img src="{{ url_for('static', filename='images/github_trans_icon.png') }}" class="social-icon">
                        </a>
                        <a href="https://www.linkedin.com/in/zain-javaid01/" target="_blank">
                            <img src="{{ url_for('static', filename='images/linkedin_trans_icon.png') }}" style="margin-left: 7px;" class="social-icon">
                        </a>
                    </div>
                </div>
                <hr class='member-line'>
                <p>Co-Founder & President</p>
                <p>ZAG Full-Stack Dev</p>
            </div>

            <div class="member">
                <div class="top-row">
                    <p><b>Greg Shatsman</b></p>
                    <div class="logo-section">
                        <a href="https://github.com/gregshatsman" target="_blank" style="all: unset;">
                            <img src="{{ url_for('static', filename='images/github_trans_icon.png') }}" class="social-icon">
                        </a>
                    </div>
                </div>
                <hr class='member-line'>
                <p>Co-Founder & VP</p>
                <p>ZAG Front-End Design</p>
            </div>

            <div class="member">
                <div class="top-row">
                    <p><b>Avery Allen</b></p>
                    <div class="logo-section">
                        <a href="https://github.com/AKAvery" target="_blank" style="all: unset;">
                            <img src="{{ url_for('static', filename='images/github_trans_icon.png') }}" class="social-icon">
                        </a>
                    </div>
                </div>
                <hr class='member-line'>
                <p>Co-Founder & Head of Operations</p>
                <p>ZAG Front-End Design</p>
            </div>
        </div>

        <div class="row">
            <div class="member">
                <p><b>Nirmit Prashanth</b></p>
                <hr class='member-line'>
                <p>Head of Design</p>
            </div>
            <div class="member">
                <p><b>Jack Tenney</b></p>
            </div>
    
            <div class="member">
                <p><b>Sam Tenney</b></p>
            </div>
        </div>
    </body>
</html>