<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/members.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/darktheme.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <!-- <canvas id="canv" style="display: none;"></canvas> -->
        <div id="nav-bar">
            <a href="/" class="unset-a"><img class="logo" src="{{ url_for('static', filename='images/transparent_temp_logo.png') }}"></a>
            <div class="option-container">
                <a href="/about" class="unset-a option-text">About Us</a>
                <a href="/schedule" class="unset-a option-text">Schedule</a>
                                <a href="/projects" class="unset-a option-text">Projects</a>

                <a href="/members" class="unset-a option-text">Members </a>
                <a href="/register" class="unset-a option-text">Sign Up</a>
            </div>
            <input type="checkbox" id="darkmode-toggle" onclick="darkmode()"/>
            <label for="darkmode-toggle">
        </div>        
        <div class="row">
            
            <div class="member">
                <div class="top-row">
                    <p><b>Zain Javaid</b></p>
                    <div class="logo-section">
                        <a href="https://github.com/zainmfjavaid" target="_blank" style="all: unset;">
                            <img src="{{ url_for('static', filename='images/github_trans_icon.png') }}" class="social-icon">
                        </a>
                        <a href="https://www.linkedin.com/in/zain-javaid01/" target="_blank">
                            <img src="{{ url_for('static', filename='images/linkedin_trans_icon.png') }}" style="margin-left: 7px;" class="social-icon">
                        </a>
                    </div>
                </div>
                <hr class='member-line'>
                <p>Co-Founder & President</p>
                <p>ZAG Full-Stack Dev</p>
            </div>

            <div class="member">
                <div class="top-row">
                    <p><b>Greg Shatsman</b></p>
                    <div class="logo-section">
                        <a href="https://github.com/gregshatsman" target="_blank" style="all: unset;">
                            <img src="{{ url_for('static', filename='images/github_trans_icon.png') }}" class="social-icon">
                        </a>
                    </div>
                </div>
                <hr class='member-line'>
                <p>Co-Founder & VP</p>
                <p>ZAG Front-End Design</p>
            </div>

            <div class="member">
                <div class="top-row">
                    <p><b>Avery Allen</b></p>
                    <div class="logo-section">
                        <a href="https://github.com/AKAvery" target="_blank" style="all: unset;">
                            <img src="{{ url_for('static', filename='images/github_trans_icon.png') }}" class="social-icon">
                        </a>
                    </div>
                </div>
                <hr class='member-line'>
                <p>Co-Founder & Head of Operations</p>
                <p>ZAG Front-End Design</p>
            </div>
        </div>

        <div class="row">
            <div class="member">
                <p><b>Nirmit Prashanth</b></p>
                <hr class='member-line'>
                <p>Head of Design</p>
            </div>
            <div class="member">
                <p><b>Jack Tenney</b></p>
            </div>
    
            <div class="member">
                <p><b>Sam Tenney</b></p>
            </div>
        </div>
        <script>        
            var original = window.getComputedStyle( document.body ,null).getPropertyValue('background');  
            textArr = document.getElementsByClassName("unset-a option-text")
            textArr = Array.prototype.slice.call(textArr);
            var logoOriginial = document.getElementsByClassName("logo")[0].style.filter
            var matrixInterval = null;
            if (document.getElementById('canv') == null){
                var foo = document.createElement("canvas");
                document.body.prepend(foo);
                foo.setAttribute("id","canv");
                foo.setAttribute("style", "display: none;")
            }
            function darkmode() {
                var check = document.getElementById("darkmode-toggle");
                const canvas = document.getElementById('canv');
                canvas.style.display = "none"
                if (check.checked) {
                    canvas.style.display = "block"
                    document.body.style.transition = "2s";
                    document.body.style.background = "black";
                    document.getElementsByClassName("logo")[0].style.filter = "brightness(100)"
                    textArr.forEach( function(element){
                        element.style.color = 'white'; 
                    });
                    if (matrixInterval == null){
                        matrixInterval = setInterval(matrix, 60);
                    }
                } else {
                    document.getElementsByClassName("logo")[0].style.filter = logoOriginial
                    document.body.style.background = original
                    textArr.forEach( function(element){
                        element.style.color = 'black'; 
                    });
                    clearInterval(matrixInterval)
                    matrixInterval = null
                }
            }
        </script>
        <script>
            const canvas = document.getElementById('canv');
            canvas.style.position = "absolute"
            canvas.style.zIndex = "-1"
            const ctx = canvas.getContext('2d');

            const w = canvas.width = document.body.clientWidth;
            const h = canvas.height = document.body.clientWidth;
            const cols = Math.floor(w / 20) + 1;
            const ypos = Array(cols).fill(0);

            ctx.fillStyle = '#000';
            ctx.fillRect(0, 0, w, h);

            function matrix () {
                ctx.fillStyle = '#0001';
                ctx.fillRect(0, 0, w, h);
                
                ctx.fillStyle = '#0f0';
                ctx.font = '10pt monospace';
                
                ypos.forEach((y, ind) => {
                    const text = String.fromCharCode(Math.random() * 128);
                    const x = ind * 20;
                    ctx.fillText(text, x, y);
                    if (y > 100 + Math.random() * 10000) ypos[ind] = 0;
                    else ypos[ind] = y + 20;
                });
            }
        </script>
    </body>
</html>