<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/members.css')}}">
    </head>
    <body>
        <div id="nav-bar">
            <a href="/" class="unset-a"><img class="logo" src="{{ url_for('static', filename='images/temp_logo.jpeg') }}"></a>
            <div class="option-container">
                <a href="/about" class="unset-a option-text">About Us</a>
                <a href="/schedule" class="unset-a option-text">Schedule</a>
                <a href="/members" class="unset-a option-text">Members </a>
                <a href="/register" class="unset-a option-text">Sign Up</a>
            </div>
        </div>

        <h1 id="page-title">Members</h1>

        <img src="""static/images/IMG_4392 copy (1).JPEG" alt="Avery Allen" 
        width="400" 
        height="500" />
        
        
        <p> 'My name is Avery Allen, I am a Junior, I like to play sports and like to code.'</p>
        
        







        <tr>
            <td>Nirmit P</td><br>
            <td> +1(737) 386 - 1015</td>
            <td>The Original Founder</td>

    
    
    </body>
</html>