<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Anderson Coding</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css')}}">
    </head>
    <body>
        <div id="nav-bar">
            <a href="/" class="unset-a"><img class="logo" src="{{ url_for('static', filename='images/transparent_temp_logo.png') }}"></a>
            <div class="option-container">
                <a href="/about" class="unset-a option-text">About Us</a>
                <a href="/schedule" class="unset-a option-text">Schedule</a>
                <a href="/projects" class="unset-a option-text">Projects</a>
                <a href="/members" class="unset-a option-text">Members </a>
                <a href="/register" class="unset-a option-text">Sign Up</a>
            </div>
        </div>
        <div class="project-container">
            <div class="project">
                <p class="project-title">This Website</p>
                <p class="date-text">Oct 17, 2023 - Oct 24th</p>
                <hr>
                <p class="description">First project taken on by the team. While we finished our first full
                    version on October 24th, development is ongoing as we change as a team and create new projects.
                
                </p>
                <div class='bottom-section'>
                    <div class='name-tile-container'>
                        <div class='name-tile'>Zain J.</div>
                        <div class="name-tile">Avery A.</div>
                        <div class="name-tile">Greg S.</div>
                    </div>
                    <div class='name-tile-container container-centered'>
                        <div class="name-tile">Nirmit P.</div>
                        <div class="name-tile">Jack T.</div>
                    </div>
                </div>
                <div class="bottom-row">
                    <a href="https://github.com/AndersonCodingClub/website" target=_blank font-size="bigger" class="project-link">&#8594;&nbsp;Go to Github</a>
                </div>
        </div>
    </body>
</html>