<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Anderson Coding</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/schedule.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/darktheme.css')}}">
        <style>
        </style>
    </head>
    <body>
        <div id="nav-bar">
            <a href="/" class="unset-a"><img class="logo" src="{{ url_for('static', filename='images/transparent_temp_logo.png') }}"></a>
            <div class="option-container">
                <a href="/about" class="unset-a option-text">About Us</a>
                <a href="/schedule" class="unset-a option-text">Schedule</a>
                <a href="/projects" class="unset-a option-text">Projects</a>
                <a href="/members" class="unset-a option-text">Members </a>
                <a href="/register" class="unset-a option-text">Sign Up</a>
            </div>
            <input type="checkbox" id="darkmode-toggle" onclick="darkmode()"/>
            <label for="darkmode-toggle">
        </div>

        <div id="content-container">
            <div id="form-container">
                <iframe src="https://calendar.google.com/calendar/embed?src=dcf5b36922660436b79e5079df36613dc6e7f793e6d2ebf1c8e0130ce761793f%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="1000" height="600" frameborder="0" scrolling="no"></iframe>        
            </div>
        </div>
        <script src="{{url_for('static', filename='js/darkmode-toggle.js')}}"></script>
        <script src="{{url_for('static', filename='js/matrix.js')}}"></script>
    </body>
</html>